---
import { SITE_TITLE } from "../config";
---

<section class="mb-8">
	<div class="mb-6">
		<h1
			class="font-bold uppercase text-center text-4xl md:text-5xl xtracking-tighter py-6 overflow-hidden"
		>
			<span
				class="bg-gradient-to-br from-[#334155] via-[#1e293b] to-[#0f172a] dark:from-primary-main dark:via-primary-main dark:to-primary-main bg-clip-text text-transparent"
			>
				{SITE_TITLE}
			</span>
		</h1>
		<div
			class="border-b-[1px] border-t-[1px] border-current py-1 flex items-center justify-center gap-1"
		>
			<a
				class="unset ml-4 hover:text-text-link"
				href="https://github.com/headlessvoyager/blog"
			>
				<i
					class="fa-brands fa-github"
					aria-hidden="true"
					title="Blogster on GitHub"></i>
				<span>GitHub</span>
			</a>
		</div>
	</div>
	<div>
		<p class="mb-8">
			Hey! Glad you made it here. This is a corner of the internet that I am carving out
			for myself. Writing helps to clarify my ideas and improve my communication
			skills.
		</p>
	</div>
</section>
